.main__left--about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main__right--about {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: auto;
    max-width: 40%;
}

.main__right--about--descrition {
    padding: 10px 0;
    font-size: 18px;
    text-align: justify;
    font-family: var(--font-principal);
    color: var(--cor-cinza-claro);
}

@media screen and (max-width: 1200px) {
    .main__right--about {
        max-width: 90vw;
    }
}