.main {
    display: flex;
    justify-content: space-between;
    width: 90vw;
    height: 90vh;
    margin: .5vw auto;
}

.text__green {
    color: var(--cor-destaque);
}

.main__left {
    /* padding-top: 20vh; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.main__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.main__left--top {
    padding-top: 190px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.rigth__list--img {
    max-width: 70vh;
}

.main__left--title,
.main__left--description {
    color: var(--cor-cinza-claro);
}

.main__left--title {
    font-size: 15px;
    color: var(--cor-destaque);
}

.main__left--name {
    font-size: 70px;
    color: var(--cor-branco);
    font-weight: 900;
}

.main__left--description {
    font-size: 17px;
    border-left: 1px solid var(--cor-cinza-claro);
    padding: .5em;
    width: 500px;
}

.main__left--social {
    display: flex;
    align-items: center;
    gap: 10px;

}

.main__social--link--cv {
    text-decoration: none;
    color: var(--cor-branco);
    padding: .4vw 2vw .4vw 2vw;
    border-radius: 5px;
    background-color: var(--cor-destaque);
    border: solid 2px var(--cor-branco);
}

.main__social--link {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 30px;
}

.main__left--sub-name {
    font-size: 35px;
}