.main {
    display: flex;
    justify-content: space-between;
    /* gap: 20vw; */
    width: 90vw;
    height: 100vh;
    margin: .5vw auto;
}

.text__green {
    color: var(--cor-destaque);
}

.main__left {
    /* padding-top: 20vh; */
    display: flex;
    flex-direction: column;
    /* gap: 8vh; */
    justify-content: space-evenly;
}

.main__right {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 90vh;

}

.main__left--top {
    padding-top: 10vh;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.main__right--list {
    max-width: 70vh;
    margin: auto;
}

.rigth__list--img--principal {
    width: 100%;
    /* box-shadow: inset -11px 0px 4px -4px rgba(0, 255, 255, 0.39); */
    box-shadow: inset 0 0 20px rgba(0, 255, 255, 0.836);
    /* border-radius: 5%; */
    border-radius: 50%;
}

.rigth__list--img {
    max-width: 70vh;
}

.main__left--title,
.main__left--description {
    color: var(--cor-cinza-claro);
}

.main__left--title {
    font-size: 15px;
    color: var(--cor-destaque);
}

.main__left--name {
    font-size: 70px;
    color: var(--cor-branco);
    font-weight: 900;
}

.main__left--description {
    font-size: 17px;
    text-align: justify;
    border-left: 1px solid var(--cor-cinza-claro);
    padding: .5em;
    width: 35vw;
}

.main__left--social {
    display: flex;
    align-items: center;
    gap: 20px;

}

.main__social--link--cv {
    text-decoration: none;
    color: var(--cor-branco);
    padding: .5rem 5rem .5rem 5rem;
    border-radius: 8px;
    border: solid 1px var(--cor-branca);

    /* box-shadow: inset 0 0 10px rgba(0, 255, 255, 0.279); */
    box-shadow:  0 0 10px rgba(0, 255, 255, 0.279);

    transition: background-color 1s;
}

.main__social--link--cv:hover {
    background-color: rgba(0, 255, 255, 0.279);
    transition: background-color 1s;
}

.main__social--link {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 35px;
}

.main__left--sub-name {
    font-size: 35px;
}


@media screen and (max-width: 550px) {
    .main__left--top {
        padding-top: .5em;
    }

    .main__left {
        max-width: 90vw;
    }

    .main__left--description {
        max-width: 80vw;
    }
}

@media screen and (max-width: 1400px) {

    .rigth__list--img {
        max-width: 100%;
    }

}

@media screen and (max-width: 1200px) {

    .rigth__list--img,
    .rigth__list--img--principal {
        display: none;
    }

    .main__right--list {
        margin: 0;
    }

    .main__left {
        justify-content: center;
        gap: 8vw;
    }

    .main__left--description {
        width: 80vw;
    }
}