.main__skill {
    width: 70vw;
    margin: 10vw auto;
    display: flex;
    padding: auto;
    flex-wrap: wrap;
    gap: 20px;

}

.main__skill--itens {
    display: flex;
    flex-direction: column;
    width: 130px;
    height: 160px;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    margin: 20px auto;
    max-width: 100%;

    transition: background-color 1s;
}

.main__skill--itens:hover {
    background-color: rgba(0, 255, 255, 0.101);
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.581), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.item__skill--img {
    margin: 10px auto;
    max-width: 100%;
}

@media screen and (max-width:550px) {
    .main__skill {
        width: 90vw;
    }

    .main__skill--itens {
        width: auto;
    }
}