@import url('./css/cabecalho.css');
@import url('./css/main.css');
@import url('./css/about.css');
@import url('./css/projects.css');
@import url('./css/skill.css');

:root {
    --cor-destaque: rgb(103, 201, 168);
    --cor-verde-escuro: rgb(1, 23, 37);
    --cor-cinza-claro: #c5c2c2dc;
    --cor-branca: #fffffff1;
    --font-principal: "Tilt Neon";
}

body {
    background-image: linear-gradient(rgb(2, 31, 53), rgb(22, 22, 22));
    min-height: 100vh;
    font-size: 16px;
    color: var(--cor-branca);
    font-family: var(--font-principal);
}